 .Section{
         width:500px;
         border:2px solid #fffb5d;
         margin:auto;
         background :#ffffff;
         border-radius:7px;
         overflow:hidden;
      }
       .Input{ width:100%;
          padding:8px;
          margin-top:7px;
          margin-bottom:7px;
          border:1px solid #b9d1ff;
       }
         
         
        body{
        font-family:arial;
        background :#e8e8ff;
        
        } 
      
  .Title{
  border :1px solid
  #b9d1ff
  ;
  margin-bottom:0;
  padding:10px;
  font-family:arial-black ;
  background :#8bddff;
  border-radius:7px;
}
      		
      		
     .submit{
     		margin-bottom :0px;
     		color:#010101;
     		background :#8bddff;
     		border-radius:7px;
     		}
     		
